<!-- Calling the Text Component -->
<app-textcomponent></app-textcomponent>

<!--Calling the Image Component-->
<app-imagecomponent></app-imagecomponent>
<br>

<h1>Employee Details</h1>

<img src='assets/Logo.png' alt="" style="height: 100px; width: 250px" class="center">
<br>
<!--Calling the Employee Info Component-->
<app-employeeinfo></app-employeeinfo>

<img src="assets/Logo.png" class="center" width="200" height="80" display:block>
<!-- Calling the Form Component -->
<app-form-component></app-form-component>

<!-- Angular Services -->
<img src="assets/Logo.png" class="center" width="200" height="80" display:block>
<h1>Angular Services</h1>
<app-employee-information></app-employee-information>